* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #ef5f4c;
    --background-color: #ffffff;
    --surface-color: #f5f5f5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff8f;
    --text-color: #313131;
    --text-secondary-color: #6c6c6c;
}

body {
    color: var(--text-secondary-color);
    background-color: var(--background-color);
}